@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
body,
html {
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.page1 {
  min-height: 100vh;
  width: 100%;
  color: white;
  /* overflow: hidden; */
}

.bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -99;
}
nav {
  display: flex;
  padding: 2.5rem 2.5rem;
  justify-content: space-between;
}
nav i {
  color: white;
  font-size: 4rem;
  font-weight: 100;
}
nav .point {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: white;
}
.main {
  padding: 0 9vw;
  margin: 110px 0;
  height: 40rem;
}
.small-text {
  padding: 0 0.5vw;
  font-weight: bold;
  font-size: 1vw;
}
.large-text {
  font-size: 9vw;
  font-weight: bolder;
  line-height: 8vw;
  letter-spacing: -0.2vw;
}

.page2 {
  min-height: 100vh;
  width: 100%;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}

.cursor {
  height: 220px;
  width: 220px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
}
.hero {
  font-size: 4vw;
  padding: 0 16vw;
}
.swiper {
  width: 800px;
  height: 600px;
  background-color: red;
  border: 1px solid violet;
}

.page3 {
  min-height: 100vh;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
}
.left-part {
  border: 2px solid red;
  width: 50%;
  display: flex;
  align-items: center;
}
.right-part {
  border: 1px solid yellow;
  width: 50%;
}
.swiper-slide {
  height: 220px;
  width: 40px;
  border: 1px solid red;
  background-color: yellow;
  border: 1px solid blue;
}
